<!DOCTYPE html>
<html lang="en">

<head>
<!-- Meta -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<meta name="keywords" content="">
<meta name="robots" content="all">
<title>AgroDuniya</title>

<!-- Bootstrap Core CSS -->
<link rel="stylesheet" href="assets/assets/css/bootstrap-select.min.css">
<link rel="stylesheet" href="assetsassets/css/bootstrap.min.css">

<!-- Customizable CSS -->
<link rel="stylesheet" href="assets/assets/css/main.css">
<link rel="stylesheet" href="assets/assets/css/blue.css">
<link rel="stylesheet" href="assets/assets/css/owl.carousel.css">
<link rel="stylesheet" href="assets/assets/css/owl.transitions.css">
<link rel="stylesheet" href="assets/assets/css/animate.min.css">
<link rel="stylesheet" href="assets/assets/css/rateit.css">
<link rel="stylesheet" href="assets/assets/css/bootstrap-select.min.css">

<!-- Icons/Glyphs -->
<link rel="stylesheet" href="assets/assets/css/font-awesome.css">

<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Barlow:200,300,300i,400,400i,500,500i,600,700,800" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,600italic,700,700italic,800' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
</head>
<body class="cnt-home">

                 
  <app-header></app-header>             
 
                      
                        <!-- /.product-info -->
                        <div>
                          <div class="action">
                            <ul class="list-unstyled">
                              <li class="add-cart-button btn-group">
                                <button class="btn btn-primary icon" data-toggle="dropdown" type="button"> <i ></i> </button>
                                <button class="btn btn-primary cart-btn" type="button">Add to cart</button>
                              </li>
                              <li class="lnk wishlist"> <a class="add-to-cart" href="detail.html" title="Wishlist"> <i class="icon fa fa-heart"></i> </a> </li>
                              <li class="lnk"> <a class="add-to-cart" href="detail.html" title="Compare"> <i class="fa fa-signal" aria-hidden="true"></i> </a> </li>
                            <h1 class="div.slide-left"> Produits en tendance ce mois:</h1>
                            </ul>
                          </div>
                          <!-- /.action --> 
                        </div>
                        
        
                        
        <!-- ============================================== WIDE PRODUCTS : END ============================================== --> 
      
        <!-- ============================================== WIDE PRODUCTS ============================================== -->
        <div class="wide-banners outer-bottom-xs">
          <div class="row">
            <div class="col-md-8">
              <div class="wide-banner1 cnt-strip">
                <div class="image"> <img class="img-responsive" src="assets/assets/images/banners/home-banner.jpg" alt=""> </div>
                <div class="strip strip-text">
                  <div class="strip-inner">
                    <h2 class="text-right">PATATES DOUCES || 1500/KG<br>
                      <a [routerLink]="['/acheteurForm']" routerLinkActive="router-link-active"  span class="shopping-needs">Passer une commande</a></h2>
                  </div>
                </div>
                <div class="new-label">
                  <div class="text">NEW</div>
                </div>
                <!-- /.new-label --> 
              </div>
              <!-- /.wide-banner --> 
            </div>
            <!-- /.col --> 
            <div class="col-md-4">
              <div class="wide-banner cnt-strip">
                <div class="image"> <img class="img-responsive" src="assets/assets/images/banners/home-banner4.jpg" alt=""> </div>
                <div class="strip strip-text">
                  <div class="strip-inner">
                    <h2 class="text-right">OEUFS || 2400/PLATEAU<br>
                      <a [routerLink]="['/acheteurForm']" routerLinkActive="router-link-active"  span class="shopping-needs">Passer une commande</a></h2>
                  </div>
                </div>
                <div class="new-label">
                  <div class="text">NEW</div>
                </div>
                
                <!-- /.new-label --> 
              </div>
              <!-- /.wide-banner --> 
            </div>
            
          </div>
          <!-- /.row --> 
        </div>
        <!-- /.wide-banners --> 
        <!-- ============================================== WIDE PRODUCTS : END ============================================== --> 
        
        
        <script src="assets/assets/js/jquery-1.11.1.min.js"></script> 
        <script src="assets/assets/js/bootstrap.min.js"></script> 
        <script src="assets/assets/js/bootstrap-hover-dropdown.min.js"></script> 
        <script src="assets/assets/js/owl.carousel.min.js"></script> 
        <script src="assets/assets/js/echo.min.js"></script> 
        <script src="assets/assets/js/jquery.easing-1.3.min.js"></script> 
        <script src="assets/assets/js/bootstrap-slider.min.js"></script> 
        <script src="assets/assets/js/jquery.rateit.min.js"></script> 
        <script src="assets/assets/js/lightbox.min.js"></script> 
        <script src="assets/assets/js/bootstrap-select.min.js"></script> 
        <script src="assets/assets/js/wow.min.js"></script> 
        <script src="assets/assets/js/scripts.js"></script>
</body>

</html>